{% extends 'base.html.twig' %}

{% block title %}Modifier Client{% endblock %}

{% block body %}
    <h1>Modifier Client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('app_client_index') }}">Retour</a>

{% endblock %}
