{% extends 'base.html.twig' %}

{% block title %}Modifier Categorie{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
             <h1>Modifier Categorie</h1>

             {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

            <a class="btn btn-primary mr-2" href="{{ path('app_categorie_index') }}">Retour</a>
        </div>
    </div>
</div>

{% endblock %}
